<!DOCTYPE html>
<html lang="en">
  <head>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Watchlist</title>
    <link rel="stylesheet" href="css/style.css">
    
  </head>

  <body>


    <div class="cont1">
        <h2 class="pic-text">Find Your Movie</h2>
        <a class="wl-link" onclick="location.href='/watchlist'" type="button">My Watchlist</a>
        <div class="btn-cont">
          <form id="form">
            <input id='search' type="text" placeholder="Search for a movie" >
            <button id="search-btn" type="button">Search</button>
          </form>
        </div>  
    </div>



    <div id="s-res">
        <div class="im1">
            <img src="img/def.png">
        </div>
        <div class ="im2">
            <img src="img/explore.png">
        </div>
    </div>  
    


    
  </body>
  <script async src="js/index.js"></script>
</html>