<!DOCTYPE html>
<html lang="en">
<head>
    
    <script>window.onload = function() {
        for (const key in window.localStorage){
            let image = JSON.parse(window.localStorage.getItem(key)).image
            let title=JSON.parse(window.localStorage.getItem(key)).title
            let rating=JSON.parse(window.localStorage.getItem(key)).rating
            let overview=JSON.parse(window.localStorage.getItem(key)).overview
            let releaseDate=JSON.parse(window.localStorage.getItem(key)).releaseDate
            let mappedGenre=JSON.parse(window.localStorage.getItem(key)).mappedGenre
            let totalres=JSON.parse(window.localStorage.getItem(key)).totalres
            document.getElementById('watched').innerHTML += `
            <div class="search-boxes">
                <div class='img-divide'> 
                    <img src=${image}>
                    <div class='movie-description'>
                        <h1 id='title'>${title} <img class='star' src='/img/star.png'> <span class='rating'>${rating}</span></h1>
                        <div class='sub-det'>
                            <span id='rel'>Release Date: ${releaseDate}</span>
                            <span id='gen'>Genres: ${mappedGenre}</span>
                            <span id='btn'>  
                            </span>
                        </div>
                        <p class='overview'>${overview}</p>
                    </div>
                </div>
            </div>`
        }
        
        
        }</script>
    <base href="/" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Watchlist</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Watchlist</title>
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <div class="cont1">
        <h2 class="pic-text">My Watchlist</h2>
        <a class="wl-link" onclick="location.href='index'" type="button">Search Movies</a>
    </div>

    <div id='watched'></div>
    
</body>
<script async src="js/index.js"></script>

</html>